





    body {
        font-family: 'Fraunces';
        width: 100%;
        margin-bottom: 100px;
        overflow-x: hidden;
        

    }


    .vl {
        border-left: 30px solid saddlebrown;
        height: 1700px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
    }



    .gradient-box {
        background: linear-gradient(navajowhite, honeydew);
        margin: -100px;
        padding: 80px;
        width: 1285px;
        height: 259px;
    }

    .navul {
        list-style-type: none;
        margin: 10px;
        padding: 0;
        top: 10px;
        left: 200px;
        position: absolute;
    }

    nav > ul > li a {
        display: block;
        color: darkslategray;
        font-size: medium;
        text-align: left;
        padding: 2px;
        text-decoration: none;
        font-weight: bold;
        width: 44px;
        height: 17px;

    }

    .Pub {
        left: 200px;
        margin: -17px;
        color: green;
        font-size: 50px;
        position: absolute;
    }

    .first {
        left: 140px;
        bottom: 155px;
        margin: 50px;
        font-size: 34px;
        color: #AC4317;
        text-decoration: underline;
        position: absolute;
    }

    .first_min {
        left: 140px;
        bottom: 117px;
        margin: 50px;
        color: #454545;
        font-size: 18px;
        position: absolute;
    }

    .second {
        left: 140px;
        bottom: 20px;
        margin: 50px;
        font-size: 34px;
        color: #AC4317;
        text-decoration: underline;
        position: absolute;
    }

    .second_min {
        left: 140px;
        bottom: -17px;
        margin: 50px;
        color: #454545;
        font-size: 18px;
        position: absolute;
    }

    .third {
        left: 140px;
        bottom: -105px;
        margin: 50px;
        font-size: 34px;
        color: #AC4317;
        text-decoration: underline;
        position: absolute;
    }

    .third_min {
        left: 140px;
        bottom: -141px;
        margin: 50px;
        color: #454545;
        font-size: 18px;
        position: absolute;
    }

    .fourth {
        left: 140px;
        bottom: -230px;
        margin: 50px;
        font-size: 34px;
        color: #AC4317;
        text-decoration: underline;
        position: absolute;
    }

    .fourth_min {
        left: 140px;
        bottom: -265px;
        margin: 50px;
        color: #454545;
        font-size: 18px;
        position: absolute;
    }
    .fifth {
        left: 140px;
        bottom: -355px;
        margin: 50px;
        position: absolute;
    }
    .fifthmin {
        left: 140px;
        bottom: -390px;
        margin: 50px;
        color: #454545;
        font-size: 18px;
        position: absolute;
    }
    .sixth {
        left: 140px;
        bottom: -475px;
        margin: 50px;
        position: absolute;
    }
    .sixthmin {
        left: 140px;
        bottom: -512px;
        margin: 50px;
        color: #454545;
        font-size: 18px;
        position: absolute;
    }
    .seventh {
        left: 140px;
        bottom: -600px;
        margin: 50px;
        position: absolute;
    }
    .seventhmin {
        left: 140px;
        bottom: -639px;
        margin: 50px;
        color: #454545;
        font-size: 18px;
        position: absolute;
    }
    .eighth {
        left: 140px;
        bottom: -720px;
        margin: 50px;
        position: absolute;
    }
    .eighthmin {
        left: 140px;
        bottom: -759px;
        margin: 50px;
        color: #454545;
        font-size: 18px;
        position: absolute;
    }
    .nineth {
        left: 140px;
        bottom: -850px;
        margin: 50px;
        position: absolute;
    }
    .ninethmin {
        left: 140px;
        bottom: -889px;
        margin: 50px;
        color: #454545;
        font-size: 18px;
        position: absolute;
    }
    .tenth {
        left: 140px;
        bottom: -980px;
        margin: 50px;
        position: absolute;
    }
    .tenthmin {
        left: 140px;
        bottom: -1020px;
        margin: 50px;
        color: #454545;
        font-size: 18px;
        position: absolute;
    }
    footer {
        left: 0;
        bottom: -1280px;
        position: absolute;
        background: #111;
    }
    .footContainer {
        height: 163px;
        width: 1295px;
        bottom: 60px;
        padding: 1px 30px 10px ;
    }
    .socialIcons {
        display: flex;
        justify-content: center;
    }
    .socialIcons a {
        text-decoration: none;
        padding: 10px;
        background-color: white;
        margin: 10px;
        border-radius: 50%;
    }
    .socialIcons a i {
        font-size: 2em;
        color: red;
        opacity: 0.9;
    }
    .socialIcons a:hover {
        background-color: #111;
        transition: 0.5s;
    }
    .footerNav {
        margin: 0 ;
    }
    .footerNav ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }
    .footerNav ul li a {
        color: white;
        margin: 70px;
        text-decoration: none;
        font-size: 1.3em;
        opacity: 0.7;
        transition: 0.5s;
    }
    .footerBottom {
        background-color: #000;
        padding: 1px;
        text-align: center;
    }
    .footerBottom p {
        color: white;
    }
    .designer {
        opacity: 0.7;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        margin: 0px 5px;
    }
    .burger-menu, .burger-menu-btn {
        display: none;
    }
    @media only screen and (min-width:360px) and (max-width: 900px) {
        .burger-menu-btn {
            display: block;
            top: 0;
            position: absolute;
            width: 50px;
            height: 70px;
            background-image: url(barpng.png), url(barclose.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center, center left 60px;
        }
        .burger-menu {
            display: none;
            position: absolute;
            width: 100%;
            top: 60px;
            left: 0;
            height: 243vh;
            z-index: 900;
            background-color: burlywood;
            text-align: left;
        }
        .burger-menu ul {
            width: 100%;
            height: calc(100vh - 90px);
            padding-top: 70px;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            
        }
        .burger-menu ul li {
            flex-basis: 100%;
            
        }
        .burger-menu ul li {
            display: block;
            height: 6%;
            font-size: 3rem;
            flex-basis: 100%;
            
        }
        body {
            overflow-x: hidden;
            width: 50%;
                
        }
        .mainheader {
            display: none;
        }
        .vl {
            display: none;
        }
        .gradient-box {
            width: 100vw;
            height: 100px;
        }
        .footContainer {
            width: 50px;
            height: 100px;
        }
        footer {
            width: 100vw;
            font-size: 10px;
            bottom: -680px;
        }
        .footerNav ul {
            
            left: -50px;
            position: absolute;
        }
        .footerNav ul li a {
            margin: 30px;
        }
        .footerBottom {
            text-align: left;
            
        }
        .socialIcons {
            justify-content: left;
        }
        .Pub {
           left: -10px;
            margin: 37px;
            font-size: 35px;
        }
        .first {
            left: -70px;
            margin: 90px;
            bottom: 315px;
            font-size: 20px;
        }
        .first_min {
            left: -70px;
            bottom: 290px;
            margin: 90px;
            font-size: 14px;
        }
    
        .second {
            left: -70px;
            bottom: 225px;
            margin: 90px;
            font-size: 20px;
        }
        .second_min {
            left: -70px;
            bottom: 200px;
            margin: 90px;
           font-size: 14px;
        }
    
        .third {
            left: -70px;
            bottom: 138px;
            margin: 90px;
            font-size: 20px;
        }
    
        .third_min {
            left: -70px;
            bottom: 115px;
            margin: 90px;
            font-size: 14px;
        }
    
        .fourth {
            left: -70px;
            bottom: 34px;
            margin: 90px;
            font-size: 20px;
        }
    
        .fourth_min {
            left: -70px;
            bottom: 13px;
            margin: 90px;
            font-size: 14px;
        }
        .fifth {
            left: -70px;
            bottom: -95px;
            margin: 90px;
            font-size: 20px;
        }
        .fifthmin {
            left: -70px;
            bottom: -115px;
            margin: 90px;
            font-size: 14px;
        }
        .sixth {
            left: -70px;
            bottom: -185px;
            margin: 90px;
            font-size: 20px;
        }
        .sixthmin {
            left: -70px;
            bottom: -206px;
            margin: 90px;
            font-size: 14px;
        }
        .seventh {
            left: -70px;
            bottom: -278px;
            margin: 90px;
            font-size: 20px;
        }
        .seventhmin {
            left: -70px;
            bottom: -299px;
            margin: 90px;
            font-size: 14px;
        }
        .eighth {
            left: -70px;
            bottom: -374px;
            margin: 90px;
            font-size: 20px;
        }
        .eighthmin {
            left: -70px;
            bottom: -395px;
            margin: 90px;
            font-size: 14px;
        }
        .nineth {
            left: -70px;
            bottom: -470px;
            margin: 90px;
            font-size: 20px;
        }
        .ninethmin {
            left: -70px;
            bottom: -489px;
            margin: 90px;
            font-size: 14px;
        }
        .tenth {
            left: -70px;
            bottom: -565px;
            margin: 90px;
           font-size: 20px;
        }
        .tenthmin {
            left: -70px;
            bottom: -584px;
            margin: 90px;
            font-size: 14px;
        }
    }
    @media only screen and  (max-width: 320px) {
        .burger-menu-btn {
            display: block;
            top: 0;
            position: absolute;
            width: 38px;
            height: 45px;
            background-image: url(barpng.png), url(barclose.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center, center left 60px;
        }
        .burger-menu {
            display: none;
            position: absolute;
            width: 100%;
            top: 60px;
            left: 0;
            height: 243vh;
            z-index: 900;
            background-color: burlywood;
            text-align: left;
        }
        .burger-menu ul {
            width: 100%;
            height: calc(100vh - 90px);
            padding-top: 70px;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            
        }
        .burger-menu ul li {
            flex-basis: 100%;
            
        }
        .burger-menu ul li {
            display: block;
            height: 6%;
            font-size: 3rem;
            flex-basis: 100%;
            
        }
        body {
            overflow-x: hidden;
            width: 50%;
                
        }
        .mainheader {
            display: none;
        }
        .vl {
            display: none;
        }
        .gradient-box {
            width: 80vw;
            height: 70px;
        }
        .footContainer {
            width: 50px;
            height: 100px;
        }
        footer {
            width: 100vw;
            font-size: 10px;
            bottom: -980px;
        }
        .footerNav ul {
            
            left: -50px;
            position: absolute;
        }
        .footerNav ul li a {
            margin: 30px;
        }
        .footerBottom {
            text-align: left;
            
        }
        .socialIcons {
            justify-content: left;
        }
        .Pub {
            left: -23px;
            margin: 47px;
            font-size: 35px;
        }
        .first {
            left: -70px;
            margin: 90px;
            bottom: 260px;
            font-size: 19px;
        }
        .first_min {
            left: -70px;
            bottom: 242px;
            margin: 90px;
            font-size: 14px;
        }
    
        .second {
            left: -70px;
            bottom: 165px;
            margin: 90px;
            font-size: 17.9px;
        }
        .second_min {
            left: -70px;
            bottom: 145px;
            margin: 90px;
           font-size: 14px;
        }
    
        .third {
            left: -70px;
            bottom: 65px;
            margin: 90px;
            font-size: 18.7px;
        }
    
        .third_min {
            left: -70px;
            bottom: 46px;
            margin: 90px;
            font-size: 14px;
        }
    
        .fourth {
            left: -70px;
            bottom: -34px;
            margin: 90px;
            font-size: 16px;
        }
    
        .fourth_min {
            left: -70px;
            bottom: -52px;
            margin: 90px;
            font-size: 14px;
        }
        .fifth {
            left: -70px;
            bottom: -185px;
            margin: 90px;
            font-size: 19px;
        }
        .fifthmin {
            left: -70px;
            bottom: -204px;
            margin: 90px;
            font-size: 14px;
        }
        .sixth {
            left: -70px;
            bottom: -300px;
            margin: 90px;
            font-size: 20px;
        }
        .sixthmin {
            left: -70px;
            bottom: -319px;
            margin: 90px;
            font-size: 14px;
        }
        .seventh {
            left: -70px;
            bottom: -410px;
            margin: 90px;
            font-size: 20px;
        }
        .seventhmin {
            left: -70px;
            bottom: -434px;
            margin: 90px;
            font-size: 14px;
        }
        .eighth {
            left: -70px;
            bottom: -627px;
            margin: 90px;
            font-size: 20px;
        }
        .eighthmin {
            left: -70px;
            bottom: -645px;
            margin: 90px;
            font-size: 14px;
        }
        .nineth {
            left: -70px;
            bottom: -740px;
            margin: 90px;
            font-size: 20px;
        }
        .ninethmin {
            left: -70px;
            bottom: -758px;
            margin: 90px;
            font-size: 14px;
        }
        .tenth {
            left: -70px;
            bottom: -845px;
            margin: 90px;
           font-size: 20px;
        }
        .tenthmin {
            left: -70px;
            bottom: -862px;
            margin: 90px;
            font-size: 14px;
        }
        
