body {
  overflow-x: hidden;
  margin: 0;
  font-family: Fraunces;
  
}
.headercolo {
  height: 170pt;
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
background-color: #F3F3F3;

} 
 .topt {
  padding: 100px;
  left: -70px;
  color: green;
  font-size: 50px;
  top: 0;
  position: absolute;
  
}
/**.triangle {
  animation: blurAnimation 3s 1;
}**/
/**@keyframes blurAnimation {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}**/

.container {
  display: grid;
  grid-template-rows: 1fr ;
  
  row-gap: 10px;
  top: 240px;
  position: relative;
  padding-right: 70px;
 
}

.grid {
/**   display: grid;  **/
  color: #AC4317;
  padding: 40px;
  max-width: 100%;
  display: flex;
/**  row-gap: 50px; **/
  
} 


.gridsm {
  top: 10px;
  left: 50px;
  line-height: 7.1;
  font-size: 19px;
  position: relative;
}
/**footer  {
  
background: bisque; 
margin: 0;
}
.footContainer {
  padding: 1px 30px 10px ;
}
.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i {
  font-size: 2em;
  color: red;
  opacity: 0.9;
}
.socialIcons a:hover {
  background-color: #111;
  transition: 0.5s;
}
.footerNav {
 
  margin: 10px ;
}
.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a {
  
  color: black;
  margin: 70px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footerBottom {
  
  background-color: #000;
  padding: -1px;
  text-align: center;
}
.footerBottom p {
  
  color: white;
}
.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
} **/



.burger-menu, .burger-menu-btn {
  display: none;
}
@media (max-width: 612px) {
.container {
   top: 220px;
}
.gridsm {
  font-size: 9pt;
  left: 30px;
  line-height: 1.1;
}
.grid {
  font-size: 19px;
  padding: 15px;
 line-height: 1.0;
}
.allc {
  line-height: 2.3 !important;
}
/**.triangle {
  
   border-left: 60px solid transparent;
   border-right: 60px solid transparent;
   right: -5px;
 
   
} **/
.burger-menu-btn {
  display: block;
  top: 0;
  position: absolute;
  width: 47px;
  height: 40px;
  background-image: url(open.png), url(close.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center, center left 60px;
}
.burger-menu {
  display: none;
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  height: 243vh;
  z-index: 900;
  background-color: #F3F3F3;
  text-align: left;
}
.burger-menu ul {
  width: 90%;
  height: calc(100vh - 90px);
  padding-top: 15px;
  left: -10px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
 
}
.burger-menu ul li {
  flex-basis: 100%;
  
}
.burger-menu ul li {
  
  display: block;
  height: 10%;
  font-size: 2rem;
  flex-basis: 100%;
  }
  .burger-menu ul li a {
    color: black;
    text-decoration: none;
  }
  .headercolo {
    height: 110pt;
  }
  .topt {
    font-size: 20pt;
    padding: 80px;
    left: -60px;
  }
}

