.u-section-1 .u-sheet-1 {
  min-height: 599px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 971px;
  margin: 78px 60px 41px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 480px;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 13px;
}

.u-section-1 .u-form-1 {
  height: 420px;
  margin: 0 0 0 34px;
}

.u-section-1 .u-form-group-1 {
  margin-bottom: 0;
}

.u-section-1 .u-label-1 {
  font-family: Fraunces;
  font-size: 1.5rem;
}

.u-section-1 .u-label-2 {
  font-family: Fraunces;
  font-size: 1.5rem;
}

.u-section-1 .u-label-3 {
  font-family: Fraunces;
  font-size: 1.5rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --radius: 10px;
  border-style: solid;
  padding: 10px 63px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 395px;
  }

  .u-section-1 .u-form-1 {
    width: 567px;
    margin-left: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 420px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}