body {
    font-family: 'Fraunces';
    width: 100%;
    min-width: 100vh;
}
@font-face {
    font-family: Fraunces;
    url('https://fonts.googleapis.com/css?family=Fraunces') format('woff2')
}


.vl {
  border-left: 30px solid saddlebrown;
  height: 900px;
  position: absolute;
  left: 0;
   top: 0;
}
.circle {
    width: 0;
    height: 0;
    background-color: transparent;
    border: 160px solid transparent;
    border-right: 0;
    border-top: 120px solid darkgreen;
    position: fixed;
    top: 0;
    right: -2px;
    margin: -100px;
    transform: rotate(240grad);
}
.gradient-box {
    background: linear-gradient(navajowhite, honeydew);
    margin: -100px;
    padding: 80px;
   width: 1285px;
    height: 259px;
}

nav>ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    top: 10px;
    left: 200px;
    position: absolute;
}
nav>ul>li a {
    display: block;
    color: darkslategray;

    text-align: left;
    padding: 2px;
    text-decoration: none;
    font-weight: bold;
    width: 44px;
    height: 17px;

}
.Pub {
   left: 200px;
    margin: -17px;
   color: green;
    font-size: 50px;
    position: absolute;
}
.first {
    left: 140px;
    bottom: 155px;
    margin: 50px;
    font-size: 34px;
    color: #AC4317;
    text-decoration: underline;
    position: absolute;
}
.first_min {
   left: 140px;
    bottom: 117px;
    margin: 50px;
    color: #454545;
    font-size: 18px;
    position: absolute;
}
.second {
     left: 140px;
    bottom: 40px;
    margin: 50px;
    font-size: 34px;
    color: #AC4317;
    text-decoration: underline;
    position: absolute;
}
.second_min {
    left: 140px;
    bottom: 5px;
    margin: 50px;
    color: #454545;
    font-size: 18px;
    position: absolute;
}
.third {
    left: 140px;
    bottom: -72px;
    margin: 50px;
    font-size: 34px;
    color: #AC4317;
    text-decoration: underline;
    position: absolute;
}
.third_min {
     left: 140px;
    bottom: -109px;
    margin: 50px;
    color: #454545;
    font-size: 18px;
    position: absolute;
}
.fourth {
    left: 140px;
    bottom: -179px;
    margin: 50px;
    font-size: 34px;
    color: #AC4317;
    text-decoration: underline;
    position: absolute;
}
.fourth_min {
    left: 140px;
    bottom: -215px;
    margin: 50px;
    color: #454545;
    font-size: 18px;
    position: absolute;
}
